@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Work Sans"),
    local("Work Sans-Regular"),
    url("../fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local("Work Sans Bold"),
    local("WorkSans-Bold"),
    url("../fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "EagleLake";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local("Eagle Lake"),
    local("EagleLake-Regular"),
    url("../fonts/EagleLake/EagleLake-Regular.ttf") format("truetype");
}
