@import "../../../../styles/_variables";

.chat-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  padding: 10px;
  max-height: 300px;

  .chat-messages {
    display: flex;
    flex-direction: column;

    .chat-message {
      display: flex;
      flex-direction: row;

      .chat-message-content {
        display: flex;
        flex-direction: column;

        .chat-message-sender {
          font-family: $app-font-bold;
          display: flex;

          .chat-message-sender-name {
            margin-left: 5px;
            margin-right: 5px;
          }
        }

        .chat-message-text {
          margin-top: 2px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

.chat-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 2px solid $primary;
  background-color: $quaternary;

  .chat-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .chat-input {
      margin-right: 10px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: 2px solid $primary;
    }

    .chat-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: white;
      cursor: pointer;
      transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out;

      &:not([disabled]) {
        &:hover {
          background-color: $primary;
          color: white;
        }

        border: 2px solid $primary;
      }
    }
  }
}
