<form class='lobby-host'>
  <div class="general-title">Game Setup</div>

  <div class="mb-3">
    <label class="form-label" for="lobbyName">Lobby Name</label>
    <input
      [(ngModel)]="gameModeLobby.lobbyName"
      class="form-control"
      id="lobbyName"
      name="lobbyName"
      type="text"
      required
    />
  </div>

  <div class="mb-3">
    <label class="form-label" for="visibility">Visibility</label>
    <select [(ngModel)]="gameModeLobby.visibility" class="form-select" id="visibility" name="visibility" required>
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label" for="setPassword">Set Password</label>
    <input
      [(ngModel)]="gameModeLobby.setPassword"
      class="form-control"
      id="setPassword"
      name="setPassword"
      type="password"
    />
  </div>

  <button type="button" class="btn btn-primary" (click)="createLobby()">Create Lobby</button>
</form>
