<fuzzy-waddle-map-selector (selectedMapChange)="mapChanged($event)" />

<div *ngIf="mapPlayerDefinition" class="mt-4">
  <div class="map-name">{{ mapPlayerDefinition.map.name }}</div>
  <div class="map-description">{{ mapPlayerDefinition.map.presentation.description }}</div>
  <div>{{ mapPlayerDefinition.map.mapInfo.widthTiles }} x {{ mapPlayerDefinition.map.mapInfo.heightTiles }}</div>
  <div class="position-relative">
    <canvas class="m-4" #canvas [height]="canvasHeight" [width]="canvasWidth"> </canvas>
    <div class="position-absolute tooltip-drag-and-drop" style="top: 1px; left: calc(50% - {{ canvasWidth / 2 }}px)">
      Drag to reposition
    </div>
  </div>
</div>
<fuzzy-waddle-trigger [selectedMap]="selectedMap" (started)="started.emit($event)" />
