@import '../../../../../styles/_variables.scss';

:host {
  text-align: center;
}

.map-name {
  font-size: 1.6em;
  font-family: $app-font-bold;
}

.map-description {
  max-width: 600px;
}

.tooltip-drag-and-drop {
  background-color: $primary;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.6em;
}
