@if (gameMode && gameMode.map) {
  <form class="card-container">
    <div class="general-title">Game Setup</div>
    <fieldset>
      <legend>Win Conditions</legend>
      <div class="p-2">
        <label class="form-label" for="timeLimit">Time limit (in minutes)</label>
        <input
          (ngModelChange)="
            onValueChange('winConditions.timeLimit', {
              winConditions: { timeLimit: gameMode.winConditions.timeLimit }
            })
          "
          [placeholder]="!gameMode.winConditions.timeLimit ? 'No time limit' : ''"
          [(ngModel)]="gameMode.winConditions.timeLimit"
          class="mr-1 form-control"
          id="timeLimit"
          name="timeLimit"
          type="number"
        />
      </div>
    </fieldset>
    <fieldset>
      <legend>Flow</legend>
      <div class="p-2">
        <label class="form-label" for="unitCap">Unit cap</label>
        <input
          (ngModelChange)="onValueChange('mapTuning.unitCap', { mapTuning: { unitCap: gameMode.mapTuning.unitCap } })"
          [placeholder]="!gameMode.mapTuning.unitCap ? 'No unit cap' : ''"
          [(ngModel)]="gameMode.mapTuning.unitCap"
          class="mr-1 form-control"
          id="unitCap"
          name="unitCap"
          type="number"
        />
      </div>
    </fieldset>
    <fieldset>
      <legend>Modifiers</legend>
      <div class="p-2">
        <input
          (ngModelChange)="
            onValueChange('difficultyModifiers.aiAdvantageResources', {
              difficultyModifiers: { aiAdvantageResources: gameMode.difficultyModifiers.aiAdvantageResources }
            })
          "
          [(ngModel)]="gameMode.difficultyModifiers.aiAdvantageResources"
          class="mr-1 form-check-input"
          id="aiAdvantageResources"
          name="additionalResources"
          type="checkbox"
        />
        <label class="form-check-label ms-2" for="aiAdvantageResources">A.I. additional resources</label>
      </div>
      <div class="p-2">
        <input
          (ngModelChange)="
            onValueChange('difficultyModifiers.reducedIncome', {
              difficultyModifiers: { reducedIncome: gameMode.difficultyModifiers.reducedIncome }
            })
          "
          [(ngModel)]="gameMode.difficultyModifiers.reducedIncome"
          class="mr-1 form-check-input"
          id="reducedIncome"
          name="reducedIncome"
          type="checkbox"
        />
        <label class="form-check-label ms-2" for="reducedIncome">Reduced income</label>
      </div>
    </fieldset>
  </form>
}
