.ranked {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.ranked-tooltip {
  font-style: italic;
  font-size: 0.8em;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 10px;
}
