<div class="ranked">
  <div>Please select your preferences then press the Play button to find a ranked match</div>
  <div>
    Game settings
    <div>
      <div>Number of players</div>
      <div>
        <input checked="checked" name="numPlayers" type="radio" value="2" />2
        <input name="numPlayers" type="radio" value="3" />3 <input name="numPlayers" type="radio" value="4" />4
      </div>
    </div>
    <div>
      <div>Faction</div>
      <div>
        <select [(ngModel)]="rankedOptions.factionType" class="form-select">
          <option *ngFor="let factionType of FactionDefinitions.factionTypes" [ngValue]="factionType.value">
            {{ factionType.name }}
          </option>
        </select>
      </div>
    </div>
    <div>
      Map Pool
      <div>
        <div *ngFor="let map of Maps.maps">
          <input checked="checked" name="map" type="checkbox" value="{{ map.name }}" />{{ map.name }}
        </div>
      </div>
    </div>

    <button (click)="start()" [disabled]="searching" class="btn btn-primary" type="button">
      <ng-container *ngIf="searching">Searching...</ng-container>
      <ng-container *ngIf="!searching">Play</ng-container>
    </button>
  </div>
</div>
