<button (click)="leave()" class="btn btn-danger m-1 position-absolute" style="left: 20px; top: 20px" type="button">
  Leave
</button>
<fuzzy-waddle-modal #modal [modalConfig]="leaveModalConfirm">
  <div>Are you sure you wish to leave?</div>
</fuzzy-waddle-modal>

@if (isPlayer) {
  <button
    (click)="pauseToggle()"
    class="btn btn-danger m-1 position-absolute"
    style="right: 20px; top: 20px"
    type="button"
  >
    <fa-icon [icon]="paused ? faPlay : faPause"></fa-icon>
  </button>
}

<div class="position-absolute text-white" style="text-align: right; right: 20px; top: 70px">
  <div style="right: 20px; top: 70px">Score: {{ score | wrap: 1 }}</div>
  <div style="right: 20px; top: 70px">Remaining: {{ remaining | wrap: 1 }}</div>
</div>
