@if (showNewVersion) {
  <ngb-alert type="info" [dismissible]="false">
    <div><strong>Update Available</strong></div>
    <div>
      @if (!showVersionReady) {
        <button class="btn btn-sm btn-outline-primary me-2" [disabled]="true">
          <fa-icon [icon]="faSpinner" animation="spin" />
          Downloading...
        </button>
      } @else {
        <button class="btn btn-sm btn-outline-primary me-2" (click)="onVersionRefreshClick()">Update</button>
      }
      <button class="btn btn-sm btn-outline-warning" (click)="this.showNewVersion = false">Dismiss</button>
    </div>
  </ngb-alert>
}
