<div class="toolbar">
  <div class="toolbar-left">
    <a class="button button-clear btn-home p-0 align-items-center d-flex" href="#">
      <img src="assets/icons/fuzzy-waddle.svg" alt="Fuzzy Waddle logo" width="46px" height="46px" />
      <div class="title">Fuzzy Waddle</div>
    </a>
  </div>
  <div class="toolbar-right">
    <button
      *ngIf="!authService.processing && !authService.isAuthenticated"
      class="button button-clear"
      (click)="authService.signInWithGoogle()"
    >
      Sign In
    </button>
    <button
      *ngIf="!authService.processing && authService.isAuthenticated"
      class="button button-clear"
      (click)="toProfile()"
    >
      <fa-icon [icon]="faUser"></fa-icon>
      Profile
    </button>
  </div>
</div>

<div class="tile-featured cursor-pointer position-relative" (click)="router.navigateByUrl(probableWaffle.route)">
  <img
    class="featured-image"
    [src]="'assets/games/images/' + probableWaffle.image"
    [alt]="probableWaffle.name"
    width="200px"
    height="100px"
  />
  <div class="featured-title">
    <h2>Featured</h2>
    <h3 style="margin-left: 30px">{{ probableWaffle.name }}</h3>
  </div>
</div>

<div class="all-games">
  <div class="tile-game cursor-pointer" *ngFor="let game of displayGames" (click)="router.navigateByUrl(game.route)">
    <img class="game-image" src="{{ 'assets/games/images/' + game.image }}" [alt]="game.name" />
    <div class="game-title">
      <h2>{{ game.name }}</h2>
    </div>
    <div class="game-description">
      <p>{{ game.description }}</p>
    </div>
  </div>
</div>
<fuzzy-waddle-chat-float *ngIf="authService.isAuthenticated"></fuzzy-waddle-chat-float>
<div *ngIf="authService.isAuthenticated">
  <button class="button button-clear" (click)="dbAccessTestService.add()">Add Test</button>
  <button class="button button-clear" (click)="dbAccessTestService.get()">Get Test</button>
</div>
