<fuzzy-waddle-home-page-nav></fuzzy-waddle-home-page-nav>

<a class="tile-featured cursor-pointer position-relative nav-link" routerLink="{{ probableWaffle.route }}">
  <img
    class="featured-image"
    [src]="'assets/games/images/' + probableWaffle.image"
    [alt]="probableWaffle.name"
    width="200px"
    height="100px"
  />
  <div class="featured-title">
    <h2>Featured</h2>
    <h3 style="margin-left: 30px">{{ probableWaffle.name }}</h3>
  </div>
</a>

<div class="all-games">
  <a class="tile-game nav-link" *ngFor="let game of displayGames" routerLink="{{ game.route }}">
    <img class="game-image" src="{{ 'assets/games/images/' + game.image }}" [alt]="game.name" />
    <div class="game-title">
      <h2>{{ game.name }}</h2>
    </div>
    <div class="game-description">
      <p>{{ game.description }}</p>
    </div>
  </a>
</div>
<fuzzy-waddle-chat-float *ngIf="authService.isAuthenticated"></fuzzy-waddle-chat-float>
