<div>{{ fileName }}</div>
<!-- https://stackoverflow.com/a/37487480/5909875 -->

<div
  [ngStyle]="{
    height: displaySize + 'px',
    width: displaySize + 'px'
  }"
>
  <div
    [ngStyle]="{
      width: this.atlasFrame.frame.w + 'px',
      height: this.atlasFrame.frame.h + 'px',
      backgroundImage: 'url(' + this.src + ')',
      backgroundPosition: '-' + atlasFrame.frame.x + 'px -' + atlasFrame.frame.y + 'px',
      backgroundRepeat: 'no-repeat',
      transformOrigin: '0 0',
      transform: 'translate(' + getTranslateX() + 'px, ' + getTranslateY() + 'px) scale(' + scale + ')',
      display: 'flex',
      justifyContent: 'center',
      alignItems: 'center'
    }"
  ></div>
</div>
