<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 10px;
    overflow: hidden;
    background-color: bisque;
  "
>
  <button (click)="drawerCollapsed.emit(true)" style="margin-bottom: 10px">Collapse</button>
  <button (click)="leave()" style="margin-bottom: 10px">Leave</button>
  <button (click)="saveMap()">Save map</button>
  <button (click)="loadMap()">Load map</button>
  <div style="margin-top: 10px">Selection</div>
  <div>Current layer:</div>
  <input
    type="number"
    [(ngModel)]="layerNr"
    (ngModelChange)="layerNrChanged()"
    min="0"
    [max]="MapDefinitions.nrLayers"
  />
  <div>Replace tile nr:</div>
  <input type="number" [(ngModel)]="nrReplacedTiles" (ngModelChange)="nrReplacedTilesChanged()" min="1" [max]="5" />
  <button (click)="deselectTile()">Deselect Tile</button>
  <button (click)="removeTile()">Remove Tile</button>
  <div *ngIf="atlasFrames" class="tile-scroll-selector">
    <div *ngFor="let atlasFrame of atlasFrames; let i = index">
      <fuzzy-waddle-tile-selector
        *ngFor="let frame of atlasFrame.framesWithMeta; let j = index"
        [frameWithMeta]="frame"
        [tileId]="atlasFrame.firstgid + j"
        [textureName]='atlasFrame.tilesetName'
      ></fuzzy-waddle-tile-selector>
    </div>
  </div>
</div>
