<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Select a map
  </button>
  <ul class="dropdown-menu">
    <li
      *ngFor="let mapPlayerDefinition of mapPlayerDefinitions"
      (click)="selectMap(mapPlayerDefinition)"
      class="text-center cursor-pointer"
    >
      <img
        [src]="'assets/probable-waffle/maps/icons/' + mapPlayerDefinition.map.image"
        class="map-preview"
        [alt]="mapPlayerDefinition.map.name"
      />
      <span style="margin-left: 10px">{{ mapPlayerDefinition.map.name }}</span>
    </li>
  </ul>
</div>
