<div class="container mt-4">
  <div class="card-container">
    <h2>Score Screen</h2>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'scoreTable'" (click)="changeTab('scoreTable')"
          >Score Table</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'units'" (click)="changeTab('units')">Units</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'buildings'" (click)="changeTab('buildings')">Buildings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 'resources'" (click)="changeTab('resources')">Resources</a>
      </li>
    </ul>

    <div>
      <div *ngIf="activeTab === 'scoreTable'">
        <probable-waffle-score-table />
      </div>
      <div *ngIf="activeTab === 'units'">
        <probable-waffle-score-through-time summaryType="units" />
      </div>
      <div *ngIf="activeTab === 'buildings'">
        <probable-waffle-score-through-time summaryType="buildings" />
      </div>
      <div *ngIf="activeTab === 'resources'">
        <probable-waffle-score-through-time summaryType="resources" />
      </div>
    </div>

    <div class="container mt-4">
      <button class="btn btn-primary" routerLink="/probable-waffle">Leave</button>
    </div>
  </div>
</div>
