<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 10px;
    overflow: auto;
    max-height: 100%;
    background-color: bisque;
  "
>
  <button type="button" class="btn btn-danger m-1" (click)="leave()">Leave</button>
  <fuzzy-waddle-modal #modal [modalConfig]="leaveModalConfirm">
    <div>Are you sure you wish to leave?</div>
  </fuzzy-waddle-modal>

  <button type="button" class="btn btn-primary m-1" (click)="editorVisible = !editorVisible">
    {{ editorVisible ? 'Hide editor' : 'Show editor' }}
  </button>
  <ng-container *ngIf="editorVisible">
    <button type="button" class="btn btn-primary m-1" (click)="saveMap()">Save map</button>
    <button type="button" class="btn btn-primary m-1" (click)="loadMap()">Load map</button>
    <div class="extra-margin">Selection</div>
    <div>Current layer:</div>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="layerNr"
      (ngModelChange)="layerNrChanged()"
      min="0"
      [max]="MapDefinitions.nrLayers"
    />
    <div>Replace tile nr:</div>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="nrReplacedTiles"
      (ngModelChange)="nrReplacedTilesChanged()"
      min="1"
      [max]="5"
    />
    <button type="button" class="btn btn-primary m-1" (click)="removeTile()">Remove Tile</button>
    <div class="extra-margin">Tiles</div>
    <button type="button" class="btn btn-primary m-1" *ngFor="let type of tileTypes" (click)="selectedType = type">
      {{ type.tileType }}
    </button>
    <fuzzy-waddle-tile-selector-group
      [selectedTile]="selectedTile"
      [tileAtlasFrames]="tileAtlasFrames"
      [frameWithMetaFilter]="selectedType.fn"
    ></fuzzy-waddle-tile-selector-group>
  </ng-container>
  <button type="button" class="btn btn-primary m-1" (click)="showObjectPlacement = !showObjectPlacement">
    {{ showObjectPlacement ? 'Hide objects' : 'Show objects' }}
  </button>
  <ng-container *ngIf="showObjectPlacement">
    <div class="extra-margin">Sprites</div>
    <div *ngFor="let spriteAtlas of spriteAtlases" class="atlas-map-scroll-selector">
      <div class="atlas-map-scroll-title">{{ spriteAtlas.tilesetName }}</div>
      <div *ngFor="let atlasFrame of spriteAtlas.atlas.frames">
        <button
          type="button"
          class="btn btn-light m-1"
          (click)="selectAtlas(spriteAtlas.tilesetName, atlasFrame)"
          [class.selected]="selectedAtlas === atlasFrame"
          style="word-break: break-word; display: flex; align-items: center; flex-direction: column"
        >
          <fuzzy-waddle-atlas-display
            [atlasFrame]="atlasFrame"
            [textureName]="spriteAtlas.tilesetName"
          ></fuzzy-waddle-atlas-display>
        </button>
      </div>
    </div>
  </ng-container>
</div>
