<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 10px;
    overflow: auto;
    max-height: 100%;
    background-color: bisque;
  "
>
  <button (click)="leave()" class="btn btn-danger m-1" type="button">Leave</button>
  <fuzzy-waddle-modal #modal [modalConfig]="leaveModalConfirm">
    <div>Are you sure you wish to leave?</div>
  </fuzzy-waddle-modal>

  <button (click)="editorVisible = !editorVisible" class="btn btn-primary m-1" type="button">
    {{ editorVisible ? 'Hide editor' : 'Show editor' }}
  </button>
  <ng-container *ngIf="editorVisible">
    <button (click)="saveMap()" class="btn btn-primary m-1" type="button">Save map</button>
    <button (click)="loadMap()" class="btn btn-primary m-1" type="button">Load map</button>
    <div class="extra-margin">Selection</div>
    <div>Current layer:</div>
    <input
      (ngModelChange)="layerNrChanged()"
      [(ngModel)]="layerNr"
      [max]="MapDefinitions.nrLayers"
      class="form-control"
      min="0"
      type="number"
    />
    <div>Replace tile nr:</div>
    <input
      (ngModelChange)="nrReplacedTilesChanged()"
      [(ngModel)]="nrReplacedTiles"
      [max]="5"
      class="form-control"
      min="1"
      type="number"
    />
    <button (click)="removeTile()" class="btn btn-primary m-1" type="button">Remove Tile</button>
    <div class="extra-margin">Tiles</div>
    <button (click)="selectedType = type" *ngFor="let type of tileTypes" class="btn btn-primary m-1" type="button">
      {{ type.tileType }}
    </button>
    <fuzzy-waddle-tile-selector-group
      [frameWithMetaFilter]="selectedType.fn"
      [selectedTile]="selectedTile"
      [tileAtlasFrames]="tileAtlasFrames"
    ></fuzzy-waddle-tile-selector-group>
  </ng-container>
  <button (click)="showObjectPlacement = !showObjectPlacement" class="btn btn-primary m-1" type="button">
    {{ showObjectPlacement ? 'Hide objects' : 'Show objects' }}
  </button>
  <ng-container *ngIf="showObjectPlacement">
    <div class="extra-margin">Sprites</div>
    <div *ngFor="let spriteAtlas of spriteAtlases" class="atlas-map-scroll-selector">
      <div class="atlas-map-scroll-title">{{ spriteAtlas.tilesetName }}</div>
      <div *ngFor="let atlasFrame of spriteAtlas.atlas.frames">
        <button
          (click)="selectAtlas(spriteAtlas.tilesetName, atlasFrame)"
          [class.selected]="selectedAtlas === atlasFrame"
          class="btn btn-light m-1"
          style="word-break: break-word; display: flex; align-items: center; flex-direction: column"
          type="button"
        >
          <fuzzy-waddle-atlas-display
            [atlasFrame]="atlasFrame"
            [textureName]="spriteAtlas.tilesetName"
          ></fuzzy-waddle-atlas-display>
        </button>
      </div>
    </div>
  </ng-container>
</div>
