@if (attributions$ | async; as attributions) {
  <div class="container mt-2">
    @for (typeGroup of groupByType(attributions); track typeGroup) {
      <div class="mb-2">
        <h2 class="text-primary" style="font-size: 1.5rem">{{ typeGroup.type }}</h2>
        @for (attribution of typeGroup.items; track attribution) {
          <div class="card mb-1 ms-1" style="font-size: 0.875rem">
            <div class="card-body p-2">
              @if (attribution.url) {
                <h3 class="card-title mb-1" style="font-size: 1.25rem">
                  <a [href]="attribution.url" target="_blank">{{ attribution.name }}</a>
                </h3>
              } @else {
                <h3 class="card-title mb-1" style="font-size: 1.25rem">{{ attribution.name }}</h3>
              }
              <p class="card-text mb-1"><strong>Type:</strong> {{ attribution.type }}</p>
              @if (attribution.author) {
                <p class="card-text mb-1"><strong>Author:</strong> {{ attribution.author }}</p>
              }
              @if (attribution.reason) {
                <p class="card-text mb-1"><strong>Reason:</strong> {{ attribution.reason }}</p>
              }
              @if (attribution.license) {
                @if (attribution.license.name) {
                  <p class="card-text mb-1">
                    <strong>License: </strong>
                    @if (attribution.license.url) {
                      <a [href]="attribution.license.url" target="_blank">{{ attribution.license.name }}</a>
                    } @else {
                      {{ attribution.license.name }}
                    }
                  </p>
                }
              }
            </div>
          </div>
        }
      </div>
    }
  </div>
}
