<div *ngIf="attributions$ | async as attributions" class="container mt-4">
  <div *ngFor="let typeGroup of groupByType(attributions)" class="mb-4">
    <h2 class="text-primary display-4">{{ typeGroup.type }}</h2>
    <div *ngFor="let attribution of typeGroup.items" class="card mb-3 ml-3">
      <div class="card-body">
        <h3 class="card-title" *ngIf="attribution.url; else noUrl">
          <a [href]="attribution.url" target="_blank">{{ attribution.name }}</a>
        </h3>
        <ng-template #noUrl>
          <h3 class="card-title">{{ attribution.name }}</h3>
        </ng-template>
        <p class="card-text"><strong>Type:</strong> {{ attribution.type }}</p>
        <p class="card-text" *ngIf="attribution.author"><strong>Author:</strong> {{ attribution.author }}</p>
        <p class="card-text" *ngIf="attribution.reason"><strong>Reason:</strong> {{ attribution.reason }}</p>
        @if (attribution.license) {
          @if (attribution.license.name) {
            <p class="card-text">
              <strong>License: </strong>
              @if (attribution.license.url) {
                <a [href]="attribution.license.url" target="_blank">{{ attribution.license.name }}</a>
              } @else {
                {{ attribution.license.name }}
              }
            </p>
          }
        }
      </div>
    </div>
  </div>
</div>
