<form>
  <div class="definition-title">Game Setup</div>
  <fieldset>
    <legend>Win Conditions</legend>
    <div class="p-2">
      <label class="form-label" for="timeLimit">Time limit (in minutes)</label>
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.winConditions.timeLimit"
        class="mr-1 form-control"
        id="timeLimit"
        name="timeLimit"
        type="number"
      />
    </div>
    <div class="p-2">
      <label class="form-label" for="scoreLimit">Score limit</label>
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.winConditions.scoreLimit"
        class="mr-1 form-control"
        id="scoreLimit"
        name="scoreLimit"
        type="number"
      />
    </div>
  </fieldset>
  <fieldset>
    <legend>Flow</legend>
    <div class="p-2">
      <select
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.mapTuning.techLevel"
        class="mr-1 form-select"
        id="techLevel"
        name="techLevel"
      >
        <option value="low">Pre-Imperial</option>
        <option value="medium">Imperial</option>
        <option value="high">Post-Imperial</option>
      </select>
    </div>
    <div class="p-2">
      <label class="form-label" for="gameSpeed">Game speed</label>
      <select
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.mapTuning.gameSpeed"
        class="mr-1 form-select"
        id="gameSpeed"
        name="gameSpeed"
      >
        <option value="slow">Slow</option>
        <option value="normal">Normal</option>
        <option value="fast">Fast</option>
      </select>
    </div>
    <div class="p-2">
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.mapTuning.revealMap"
        class="mr-1 form-check-input"
        id="revealMap"
        name="revealMap"
        type="checkbox"
      />
      <label class="form-check-label ms-2" for="revealMap">Reveal map</label>
    </div>
    <div class="p-2">
      <label class="form-label" for="unitCap">Unit cap</label>
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.mapTuning.unitCap"
        class="mr-1 form-control"
        id="unitCap"
        name="unitCap"
        type="number"
      />
    </div>
  </fieldset>
  <fieldset>
    <legend>Modifiers</legend>
    <div class="p-2">
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.difficultyModifiers.aiAdvantageResources"
        class="mr-1 form-check-input"
        id="aiAdvantageResources"
        name="additionalResources"
        type="checkbox"
      />
      <label class="form-check-label ms-2" for="aiAdvantageResources">A.I. additional resources</label>
    </div>
    <div class="p-2">
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.difficultyModifiers.reducedVisibility"
        class="mr-1 form-check-input"
        id="reducedVisibility"
        name="reducedVision"
        type="checkbox"
      />
      <label class="form-check-label ms-2" for="reducedVisibility">Reduced visibility</label>
    </div>
    <div class="p-2">
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.difficultyModifiers.reducedIncome"
        class="mr-1 form-check-input"
        id="reducedIncome"
        name="reducedIncome"
        type="checkbox"
      />
      <label class="form-check-label ms-2" for="reducedIncome">Reduced income</label>
    </div>
    <div class="p-2">
      <input
        (ngModelChange)="onValueChange()"
        [(ngModel)]="gameModeLobby.difficultyModifiers.unitsDieOfAge"
        class="mr-1 form-check-input"
        id="unitsDieOfAge"
        name="unitsDieOfAge"
        type="checkbox"
      />
      <label class="form-check-label ms-2" for="unitsDieOfAge">Units die of age</label>
    </div>
  </fieldset>
</form>
