<form>
  <div>Game Setup</div>
  <div>
    <div>Win Conditions</div>
    <div class="p-2">
      <label for="timeLimit" class="form-label">Time limit (in minutes)</label>
      <input
        id="timeLimit"
        class="mr-1 form-control"
        type="number"
        [(ngModel)]="gameModeLobby.winConditions.timeLimit"
        (ngModelChange)="onValueChange()"
        name="timeLimit"
      />
    </div>
    <div class="p-2">
      <label for="scoreLimit" class="form-label">Score limit</label>
      <input
        id="scoreLimit"
        class="mr-1 form-control"
        type="number"
        [(ngModel)]="gameModeLobby.winConditions.scoreLimit"
        (ngModelChange)="onValueChange()"
        name="scoreLimit"
      />
    </div>
  </div>
  <div>
    <div>Flow</div>
    <div class="p-2">
      <select
        id="techLevel"
        class="mr-1 form-select"
        [(ngModel)]="gameModeLobby.mapTuning.techLevel"
        (ngModelChange)="onValueChange()"
        name="techLevel"
      >
        <option value="low">Pre-Imperial</option>
        <option value="medium">Imperial</option>
        <option value="high">Post-Imperial</option>
      </select>
    </div>
    <div class="p-2">
      <label for="gameSpeed" class="form-label">Game speed</label>
      <select
        id="gameSpeed"
        class="mr-1 form-select"
        [(ngModel)]="gameModeLobby.mapTuning.gameSpeed"
        (ngModelChange)="onValueChange()"
        name="gameSpeed"
      >
        <option value="slow">Slow</option>
        <option value="normal">Normal</option>
        <option value="fast">Fast</option>
      </select>
    </div>
    <div class="p-2">
      <input
        id="revealMap"
        class="mr-1 form-check-input"
        type="checkbox"
        [(ngModel)]="gameModeLobby.mapTuning.revealMap"
        (ngModelChange)="onValueChange()"
        name="revealMap"
      />
      <label for="revealMap" class="form-check-label ms-2">Reveal map</label>
    </div>
    <div class="p-2">
      <label for="unitCap" class="form-label">Unit cap</label>
      <input
        id="unitCap"
        class="mr-1 form-control"
        type="number"
        [(ngModel)]="gameModeLobby.mapTuning.unitCap"
        (ngModelChange)="onValueChange()"
        name="unitCap"
      />
    </div>
  </div>
  <div>
    <div>Modifiers</div>
    <div class="p-2">
      <input
        id="aiAdvantageResources"
        class="mr-1 form-check-input"
        type="checkbox"
        [(ngModel)]="gameModeLobby.difficultyModifiers.aiAdvantageResources"
        (ngModelChange)="onValueChange()"
        name="additionalResources"
      />
      <label for="aiAdvantageResources" class="form-check-label ms-2">A.I. additional resources</label>
    </div>
    <div class="p-2">
      <input
        id="reducedVisibility"
        class="mr-1 form-check-input"
        type="checkbox"
        [(ngModel)]="gameModeLobby.difficultyModifiers.reducedVisibility"
        (ngModelChange)="onValueChange()"
        name="reducedVision"
      />
      <label for="reducedVisibility" class="form-check-label ms-2">Reduced visibility</label>
    </div>
    <div class="p-2">
      <input
        id="reducedIncome"
        class="mr-1 form-check-input"
        type="checkbox"
        [(ngModel)]="gameModeLobby.difficultyModifiers.reducedIncome"
        (ngModelChange)="onValueChange()"
        name="reducedIncome"
      />
      <label for="reducedIncome" class="form-check-label ms-2">Reduced income</label>
    </div>
    <div class="p-2">
      <input
        id="unitsDieOfAge"
        class="mr-1 form-check-input"
        type="checkbox"
        [(ngModel)]="gameModeLobby.difficultyModifiers.unitsDieOfAge"
        (ngModelChange)="onValueChange()"
        name="unitsDieOfAge"
      />
      <label for="unitsDieOfAge" class="form-check-label ms-2">Units die of age</label>
    </div>
  </div>
</form>
