<div class="dropdown">
  <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" type="button">
    Select a map
  </button>
  <ul class="dropdown-menu menu-border">
    @for (level of levels; track level) {
      <li (click)="selectMap(level.id)" class="cursor-pointer p-2">
        <img [alt]="level.name" [src]="level.presentation.imagePath" class="map-preview" />
        <span style="margin-left: 10px">{{ level.name }}</span>
      </li>
    }
  </ul>
</div>
