@if (isSelfHosted) {
  @if (isHost) {
    <button (click)="handleStartGame()" class="btn btn-success btn-lg start-game" type="button">Start Game</button>
  } @else {
    <button (click)="toggleReady()" class="btn btn-primary btn-lg start-game" type="button">
      @if (isCurrentPlayerReady) {
        <fa-icon [icon]="faCheck" class="me-2 text-success" />
        Ready
      } @else {
        <fa-icon [icon]="faTimes" class="me-2 text-danger" />
        Not Ready
      }
    </button>
  }
} @else {
  <button (click)="handleStartGame()" class="btn btn-success btn-lg start-game" type="button">Start Game</button>
}
