<div class="d-flex flex-column flex-grow-1">
  <div class="d-flex flex-column align-items-center map-display-center overflow-auto ml-auto mr-auto">
    <!-- dropdown to select a map -->
    <fuzzy-waddle-probable-waffle-map-selector
      (selectedMapChange)="selectedMap = $event"
    ></fuzzy-waddle-probable-waffle-map-selector>
    <div class="d-flex">
      <fuzzy-waddle-probable-waffle-player-definition
        [selectedMap]="selectedMap"
        (playerJoined)="playerCountChanged()"
        (playerRemoved)="playerRemoved($event)"
      ></fuzzy-waddle-probable-waffle-player-definition>
      <fuzzy-waddle-probable-waffle-map-definition
        #mapDefinition
        [mapPlayerDefinition]="selectedMap"
      ></fuzzy-waddle-probable-waffle-map-definition>
      <fuzzy-waddle-probable-waffle-game-mode-definition></fuzzy-waddle-probable-waffle-game-mode-definition>
    </div>
  </div>
  <div class="toolbar">
    <div class="toolbar-left">
      <button class="button button-clear" (click)="leaveClick()">Leave</button>
    </div>
    <div class="toolbar-right">
      <button
        class="button button-clear"
        (click)="start()"
        [disabled]="!selectedMap || !atLeastTwoPlayersAndDifferentTeamsSelected"
      >
        Start
      </button>
    </div>
  </div>
</div>
