<fuzzy-waddle-home-nav>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    @if (enabledCampaign) {
      <li class="nav-item">
        <a class="nav-link active" routerLink="campaign">Campaign</a>
      </li>
    }
    <li class="nav-item">
      <a class="nav-link active" routerLink="online">Online</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="skirmish">Skirmish</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="load">Load</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="replay">Replay</a>
    </li>
    @if (enabledInstantDemoGame) {
      <li class="nav-item">
        <a class="nav-link active" routerLink="instant-game">Instant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="instant-network-match">Instant network match</a>
      </li>
    }
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    @if (enabledProgress) {
      <li class="nav-item">
        <a class="nav-link active" routerLink="progress">Progress</a>
      </li>
    }
    @if (enabledOptions) {
      <li class="nav-item">
        <a class="nav-link active" routerLink="options">Options</a>
      </li>
    }
  </ul>
</fuzzy-waddle-home-nav>
