<fuzzy-waddle-home-nav />

@if (serverHealthService.serverChecking) {
<div class="server-health">
  <p>Checking server health...</p>
</div>
} @else if (serverHealthService.serverAvailable) {
<ul class="nav-tabs">
  <li (click)="selectTab('join')"><a [class.active]="selectedTab === 'join'" routerLink="/join">Join</a></li>
  <li (click)="selectTab('host')"><a [class.active]="selectedTab === 'host'" routerLink="/host">Host</a></li>
  <li (click)="selectTab('ranked')"><a [class.active]="selectedTab === 'ranked'" routerLink="/ranked">Ranked</a></li>
</ul>

<div [ngSwitch]="selectedTab">
  <probable-waffle-lobbies *ngSwitchCase="'join'" />
  <probable-waffle-host *ngSwitchCase="'host'" />
  <probable-waffle-ranked *ngSwitchCase="'ranked'" />
</div>

} @else {
<div class="server-health">
  <p>Server is not available</p>
</div>
}
