@import '../../../../styles/_variables.scss';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $tertiary;
}

.editor {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .map-tile {
    border-radius: 10px;
    border: 2px solid $primary;
  }
}
