<fuzzy-waddle-home-nav></fuzzy-waddle-home-nav>
<div class="editor">
  <div class="m-1 card">
    <h2>Create a new map</h2>
    <fuzzy-waddle-map-selector (selectedMapChange)="startMap($event)"></fuzzy-waddle-map-selector>
  </div>
  <div class="m-1 card">
    <h2>Load your map</h2>
    <div>
      <div *ngFor="let map of maps" class="align-items-center d-flex">
        <div>{{ map.name }}</div>
        <img ngSrc="https://via.placeholder.com/300x300" alt="map preview" width="100" height="100" class="m-1" />
        <button type="button" class="btn btn-primary" (click)="loadMap(map)">Load</button>
      </div>
    </div>
  </div>
</div>
