@import '_variables.scss';

html,
body {
  height: 100%;
  width: 100%;
  font-family: $app-font-regular;

  @media (max-width: 520px) {
    font-size: 12px;
  }
  min-width: 300px;
  min-height: 300px;
}

body {
  display: flex;
  background-color: $secondary;
  margin: 0;
}
