@import '_variables.scss';

html,
body {
  height: 100%;
  @media (max-width: 520px) {
    font-size: 12px;
  }
  min-width: 300px;
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

/* fix for bootstrap nav not flexing direction column multiple buttons */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
  }
}
