@import '../../../../assets/styles/_variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.map-display-center {
  background-color: $secondary;
  padding: 2rem;
  flex-grow: 1;
  @media (max-width: 768px) {
    padding: 1rem;
  }
  @media (max-width: 576px) {
    padding: 0.5rem;
  }
}
