<div class="d-flex flex-column flex-grow-1 overflow-auto align-items-center">
  <div style="max-width: 500px">
    <h2 class="achievement-header">Achievements:</h2>
    <div
      *ngFor="let achievement of gameInstanceService.getAchievements()"
      class="d-flex achievement align-items-center"
    >
      <div>
        <h3 class='achievement-title'>{{ achievement.name }}</h3>
        <div>{{ achievement.description }}</div>
      </div>
      <img class="achievement-image" [src]="achievement.image" />
    </div>
  </div>
</div>

<div class="toolbar">
  <div class="toolbar-left">
    <button class="button button-clear" (click)="leaveClick()">Leave</button>
  </div>
</div>
