@import '../../../../assets/styles/_variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: $app-font-bold;
  .logo-text {
    z-index: 1;
    pointer-events: none;
  }
}
