@use "../../../../styles/_variables.scss" as *;

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: $app-font-bold;

  .logo-text {
    z-index: 1;
    pointer-events: none;
    text-align: center;
    user-select: none;
  }
}
