<div
  *ngIf="displayDrawers"
  style="position: absolute; top: 0; height: 100%; width: 100px; overflow: auto; background: #fffecf"
  [ngStyle]="{
    width: drawerWidth
  }"
>
  <fuzzy-waddle-editor-drawer></fuzzy-waddle-editor-drawer>
</div>

<div
  *ngIf="displayDrawers"
  style="position: absolute; right: 0; bottom: 0; height: 100px; background: #fffecf"
  [ngStyle]="{
    width: 'calc(100% - ' + drawerWidth + ')'
  }"
>
  <fuzzy-waddle-selection-group></fuzzy-waddle-selection-group>
</div>
