.start-position-container {
  // todo display: grid;

  .start-position-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .color-box {
      width: 1rem;
      height: 1rem;
      border: 1px solid black;
      margin: 0.5rem;
      border-radius: 4px;
    }
  }
}
