<button routerLink="/fly-squasher" class="btn btn-danger m-1 position-absolute" style="left: 20px; top: 20px"
        type="button">
  Leave
</button>

<div class="card-container">
  <div class="general-title">Choose level:</div>

  <div class="level-list">
    <div class="level-list-item" *ngFor="let level of flySquasherLevels">
      <div class="level-name">{{level.name}}</div>
      <div class="level-description">{{level.description}}</div>
      <button class="btn btn-primary" type="button" routerLink="/fly-squasher/play/{{level.id}}">Play</button>
    </div>
  </div>
</div>
