<fuzzy-waddle-map-definition
  class="card-container"
  #mapDefinition
  (mapPlayerDefinitionChange)="mapChanged($event)"
  [mapPlayerDefinition]="selectedMap"
  (started)="startGame()"
/>
<fuzzy-waddle-player-definition
  class="card-container"
  [allowOpenSlotForMp]="joinable"
  (selfOrAiPlayerAdded)="selfOrAiPlayerAdded($event)"
  (playerSlotOpened)="playerSlotOpened($event)"
  (playerRemoved)="playerRemoved($event)"
  [selectedMap]="selectedMap"
/>
<fuzzy-waddle-spectators-grid />
<fuzzy-waddle-game-mode-definition class="card-container" (gameModeLobbyChange)="gameModeLobbyChanged($event)" />
