<probable-waffle-map-definition
  class="card-container"
  #mapDefinition
  [mapPlayerDefinition]="selectedMap"
  (started)="startGame()"
/>
<probable-waffle-player-definition
  class="card-container"
  [allowOpenSlotForMp]="isSelfHosted"
  (aiPlayerAdded)="aiPlayerAdded($event)"
  (playerSlotOpened)="playerSlotOpened($event)"
  (playerRemoved)="playerRemoved($event)"
  [selectedMap]="selectedMap"
/>
<probable-waffle-spectators-grid />
<probable-waffle-game-mode-definition class="card-container" (gameModeLobbyChange)="gameModeLobbyChanged($event)" />
<probable-waffle-lobby-chat />
