<div [ngClass]="{ 'chat-container-minimized': !maximized }" class="chat-container">
  <div class="chat">
    <div class="chat-header">
      <div class="chat-title">Chat</div>
      <!-- minimize button -->
      <div (click)="toggleChatVisibility()" class="chat-minimize">
        <fa-icon [icon]="maximized ? faWindowMinimize : faWindowMaximize" />
      </div>
    </div>

    @if (maximized) {
      <fuzzy-waddle-chat
        [listenToMessages]="chatService.listenToMessages"
        (newMessage)="chatService.sendMessage($event)"
      />
    }
  </div>
</div>
