@if (serverHealthService.serverChecking) {
  <div class='lobbies'>
    <p>Checking server health...</p>
  </div>
}
@if (serverHealthService.serverAvailable) {
<div class="lobbies">
  <div>Open Lobbies</div>
  <p>Browse currently open game lobbies to join</p>

  <div class="d-flex">
    <div>
      <div>
        Filter:
        <button (click)='toggleFilterPopup()'>Open Filter</button>
        <probable-waffle-map-filter *ngIf='isFilterPopupOpen' (filter)='filter($event)'></probable-waffle-map-filter>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Map</th>
            <th scope="col">Host</th>
            <th scope="col">Players</th>
          </tr>
        </thead>
        <tbody>
          <tr
            (click)='select(room)'
            *ngFor='let room of roomsService.rooms'
            class="cursor-pointer {{ room === selectedRoom ? 'selected-row' : '' }}"
          >
            <td>{{ room.gameMode.data.level }}</td>
            <td>{{ room.players.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    @if (selectedRoom) {
    <div>
      <div>
        <div>Map Preview</div>
        <img alt="map preview" src="https://via.placeholder.com/300x300" />
        <div>Map Description</div>
      </div>
      <div>
        <div>Joined players</div>
        <div>Player 1</div>
        <div>Player 2</div>
      </div>
      <div>
        <div>Joined spectators</div>
        <div>John Doe</div>
        <div>Jane Doe</div>
      </div>
    </div>
    }
  </div>

  <div>
    <button (click)='join()' [disabled]='!selectedRoom' class='btn btn-primary' type='button'>Join</button>
    <button (click)='spectate()' [disabled]='!selectedRoom' class='ms-2 btn btn-primary' type='button'>Spectate</button>
  </div>
</div>
} @else {
  <div class='lobbies'>
    <p>Server is not available</p>
  </div>
}
