<div class="toolbar">
  <div class="toolbar-left">
    <button class="button button-clear" (click)="skirmishClick()">Skirmish</button>
    <button class="button button-clear" (click)="editorClick()">Editor</button>
    <button class="button button-clear" (click)="playgroundClick()">Playground</button>
  </div>
  <div class="toolbar-right">
    <button class="button button-clear" (click)="profileClick()">Profile</button>
  </div>
</div>

<div class="logo flex-grow-1 overflow-auto">
  <div class='logo-text'>Probable Waffle</div>
  <fuzzy-waddle-constellation-effect></fuzzy-waddle-constellation-effect>
</div>

<div class="toolbar">
  <div class="toolbar-left">
    <button class="button button-clear" (click)="leaveClick()">Leave</button>
  </div>
</div>
