<div
  *ngIf="loading || !gameInstanceClientService.gameInstance; else content"
  class="align-items-center d-flex h-100 justify-content-center"
  style="font-size: 70px"
>
  <fa-icon [icon]="faSpinner" animation="spin" />
</div>
<ng-template #content>
  <ng-container *ngIf="gameInstanceClientService.gameInstance">
    <little-muncher-home *ngIf="!gameInstanceClientService.gameInstance.gameMode" (startLevel)="startLevel($event)" />
    <little-muncher-main *ngIf="gameInstanceClientService.gameInstance.gameMode" />
  </ng-container>
</ng-template>
