:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.toast-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
