#### GENERAL ####
CORS_ORIGIN=http://localhost:4200

#### SUPABASE AWS ####
SUPABASE_URL=https://bhzetyxjimpabioxoodz.supabase.co
# Service key retrieved from the Supabase dashboard (Settings > API > Service Key)
SUPABASE_SERVICE_KEY=eyJ...

#### SUPABASE LOCAL ####
__SUPABASE_URL=http://127.0.0.1:54321
# Service key retrieved by calling `supabase status` and copying the value of the `Authentication Keys > Secret`
__SUPABASE_SERVICE_KEY=sb_secret_...
