<div class="matchmaking">
  <div class="matchmaking-tooltip">Please select your preferences then press the Search button to find a Match</div>
  <div class="general-title">Number of players</div>
  <div class="text-center">
    @for (nr of matchmakingService.nrOfPlayersOptions; track nr) {
      <input
        (change)="matchmakingService.nrOfPlayersChanged(nr)"
        [disabled]="matchmakingService.searching"
        [checked]="nr === matchmakingService.matchmakingOptions.nrOfPlayers"
        name="nrOfPlayers"
        type="radio"
        value="{{ nr }}"
      />&nbsp;{{ nr }}
    }
  </div>
  <div>
    <div class="general-title">Faction</div>
    <div class="text-center">
      <select
        [(ngModel)]="matchmakingService.matchmakingOptions.factionType"
        class="form-select"
        [disabled]="matchmakingService.searching"
        (change)="matchmakingService.factionChanged()"
      >
        <option [ngValue]="null">Random</option>
        @for (factionType of FactionDefinitions.factions; track factionType) {
          <option [ngValue]="factionType.value.factionType">
            {{ factionType.value.name }}
          </option>
        }
      </select>
    </div>
  </div>
  <div>
    <div class="general-title">Map Pool</div>
    <div class="text-center grid-container" style="max-height: 300px; overflow-y: auto">
      @for (level of matchmakingService.matchmakingOptions.levels; track level) {
        <input
          (change)="matchmakingService.checkedChanged(level)"
          [disabled]="matchmakingService.searching || !level.enabled"
          [checked]="level.checked"
          name="map"
          type="checkbox"
          value="{{ level.name }}"
        />
        <img [src]="level.imagePath" class="m-auto" style="max-height: 50px; width: 50px" />
        <span>{{ level.name }}</span>
      }
    </div>
  </div>

  <div class="w-100 mt-4" style="text-align: right">
    @if (matchmakingService.gameFound) {
      <div class="navigating-text">
        {{ matchmakingService.navigatingText }}
      </div>
    } @else {
      @if (matchmakingService.searching) {
        <button
          (click)="matchmakingService.cancelSearching()"
          class="btn btn-danger me-2"
          type="button"
          style="min-width: 100px"
        >
          Cancel
        </button>
      }
      <button
        (click)="matchmakingService.startSearching()"
        [disabled]="matchmakingService.searching || !matchmakingService.selectedLevels.length"
        class="btn btn-primary"
        type="button"
        style="min-width: 150px"
      >
        @if (matchmakingService.searching) {
          Searching...
        } @else {
          Search
        }
      </button>
    }
  </div>

  @if (roomsService.playersSearchingForMatchmakingGame() > 0 || roomsService.matchmakingGamesInProgress() > 0) {
    <div class="matchmaking-tooltip mt-4">
      There are currently {{ roomsService.playersSearchingForMatchmakingGame() }} players waiting for a Match and
      {{ roomsService.matchmakingGamesInProgress() }} Matchmaking Games in progress
    </div>
  }
</div>
